#header {

    background: $background-hero no-repeat;
    background-position: center center;
    background-color: $color1;

    background-size: cover;
    height: 100vh;
    color: $white;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    z-index: 1;


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $hero-overlay-color;
        opacity: $hero-overlay;
        z-index: -1;
        
    }

    .maincontent {
        width: 80%;
        margin: 15% auto;
        animation: entry-animation .5s forwards 0s linear;
    }

    @keyframes entry-animation{
        0%{
            transform: rotate(0) translateX(-20%);
            opacity: 0;
            }
        50%{
            transform: rotate(0) translateX(-10%);
            opacity: 0.5;
            }
        100%{
            transform: rotate(0) translateX(0);
            opacity: 1.0;
            }
    }


    h1 {
        font-weight: 900;
        margin: 3rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        h1 {
            font-size: 40px;
        }
    }

    h3 {
        margin: 3rem;
    }


}


#svg-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    fill: none;
   
    
    path {
        stroke: none;
        fill: #fff;
    }

}

.form-onboarding {

    margin: 0px;
    display: flex;
    flex-direction: column;


    .row {
        padding: 20px;
    }


    .styled-input {
        line-height: 30px;
        width: 60%;
        margin-right: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        color: $lightgray;
        padding: 10px;
        padding-left: 20px;
        font-size: 15px;
        box-shadow: $light-shadow;
    }


    
    .btn-start {
        width: 30%;
        font-size: 16px;
        font-weight: 800;
        border-radius: 5px;
        border: none;
        color: $white;
        background-color: $color2;
        box-shadow: $light-shadow;
        cursor: pointer;
        padding: 15px;
        line-height: 20px;
        outline: none;
        text-transform: uppercase;

    }

    .btn-start span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .btn-start span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .btn-start:hover span {
        padding-right: 25px;
      }
      
      .btn-start:hover span:after {
        opacity: 1;
        right: 0;
      }

    /* responsiveness */
    @media screen and (max-width: $breakpoint-sm) {
        .styled-input {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        .btn-start {
            width: 100%;
        }

    }

}