#nav {

    label {
        margin: 0 30px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }

    #toggle {
       display: none;
    }

    .main-nav {

        display: flex;
        align-items: center;

        li {
            list-style: none;
        }

        li:first-child {
            margin-right: auto;
        }

        a {
            display: block;
            text-decoration: none;
            padding: 10px 30px;
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            -webkit-transition: font-size .5s ease;
            -moz-transition: font-size .5s ease;
            -o-transition: font-size .5s ease;
            transition: font-size .5s ease;
        }

        a:hover {
            font-size: 20px;
        }

     

        a:visited {
            color: white;
        }


    }

    @media only screen and (max-width: $breakpoint-sm) {

        label {
            display: block;
            cursor: pointer;
        }

        .main-nav {
            text-align: center;
            width: 100%;
            display: none;
            
            

            a{
                clear: right;
                display: block;
                border-bottom: 1px solid $white;
                padding: 10px;

            }

          
        }

        #toggle:checked + .main-nav{
            display: block;
        }

        

       
    }




}