$nice-input-text-color: #404d5b;

.nice-input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-right: 10px;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;	
	border-radius: 5px;
}


.styled-input {
	line-height: 30px;
	width: 60%;
	margin-right: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	color: $nice-input-text-color;
	padding: 10px;
	padding-left: 20px;
	font-size: 15px;
	box-shadow: $light-shadow;
}


.nice-input__field {
	line-height: 30px;
	position: relative;
	display: block;
	float: right;
	padding: 10px;
	padding-left: 20px;
	width: 60%;
	border: none;
	border-radius: 5px;
	background: #fff;
	color: $nice-input-text-color;
	font-weight: 600;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.nice-input__field:focus {
	outline: none;
}

.nice-input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: $nice-input-text-color;
	font-weight: bold;
	font-size: 90%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nice-input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.nice-input-icon {
	color: $nice-input-text-color;
	font-size: 150%;
	
}


.nice-input-graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}


