<template>
  <section id="header">

      
       <svg id="svg-wave" viewBox="0 0 1439 234">
         <path d="M0.5 225C63.3333 117 300.7 -65.3 747.5 69.5C1194.3 204.3 1407.67 79.6667 1458.5 0.5V260.5H0.5V225Z" />
      </svg>


    <div class="overlay"></div>

    <div class="wrapper">

   

      <NavBarComponent />

    


      <div class="maincontent">

        <h1>{{$t('home.title')}}</h1>
        <h3>{{$t('home.subtitle')}}</h3>

       

        <div class="form-onboarding">

          <div class="row">
            
          
            <KohanaInputComponent :name="$t('home.mail')" />
          
            <button class="btn-start"><span>{{$t('home.getstarted')}}</span></button>

          </div>

          <div class="row">
            <span>{{$t('home.or')}}</span>
          </div>

          <div id="social" class="row">
            <a class="btn-social googleplusBtn"></a>
            <a class="btn-social facebookBtn"></a>
          </div>

        </div>

       
   

      </div>






    </div>
  </section>
</template>

<script>
  import NavBarComponent from '../components/NavBarComponent'
  import KohanaInputComponent from '../components/KohanaInputComponent'
  export default {

    components: {
      NavBarComponent,
      KohanaInputComponent
    }

  }
</script>