<template>
    <span class="nice-input input--juro">
        <input class="nice-input__field input__field--juro" type="text" id="juro-input" />
        <label class="nice-input__label input__label--juro" for="juro-input">
            <span class="nice-input__label-content input__label-content--juro">{{name}}</span>
        </label>
    </span>
</template>

<script>
	export default {
		props: ['name']
	}
</script>