<template>
	<span class="nice-input input--kohana">
		<input class="nice-input__field input__field--kohana" type="text" id="kohana-input" />
		<label class="nice-input__label input__label--kohana" for="kohana-input">
			<i class="fa fa-fw fa-envelope nice-input-icon icon--kohana"></i>
			<span class="nice-input__label-content input__label-content--kohana">{{name}}</span>
		</label>
	</span>
</template>

<script>
	export default {
		props: ['name']
	}
</script>