<template>
	<span class="nice-input input--nao">
		
		<input class="nice-input__field input__field--nao" type="text" id="niceinput" />
		
		<label class="nice-input__label input__label--nao" for="niceinput">
			<span class="nice-input__label-content input__label-content--nao">{{name}}</span>
		</label>
		
		<svg class="nice-graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
			<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
		</svg>

	</span>
</template>

<script>
	export default {
		props: ['name']
	}
</script>