<template>

    <nav id="nav">
        
        <label for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle" />

        <ul class="main-nav">
            <li><Logo /></li>
            <router-link tag="li" to="/"><a>{{$t('home.nav.home')}}</a></router-link>
            <router-link tag="li" :to="$t('home.gitlink')"><a>{{$t('home.nav.github')}}</a></router-link>
            <router-link tag="li" to="/signin"><a>{{$t('home.nav.signin')}}</a></router-link>
            <router-link tag="li" to="/signup"><a>{{$t('home.nav.signup')}}</a></router-link>
        </ul>
    </nav>

</template>

<script>
import Logo from './Logo'

    export default {
        components: { Logo }
    }
</script>