<template>
  <div id="app">    
    <router-view /> 
  </div>
</template>


<script>
import Home from './views/Home'

export default {
  components: { Home }
}

</script>


<style lang="scss">
@import 'styles/main'
</style>
