@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: white;
	font-size: 14px;
	line-height: 1.6;
	color: black;
	-webkit-font-smoothing: antialiased;
	-webkit-text-adjust : 100%;
}

section {
	display: -webkit-box;
}


.wrapper {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

